.card {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  background: rgba(white, 5%);
  padding: 1rem;
  height: 100%;
  overflow: hidden;

  .emoji {
    display: block;
    position: relative;
    border-radius: 999px;
    aspect-ratio: 1/1;
    width: 4rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .title {
      color: white;
      font-weight: 600;
      font-size: 1.25rem;
    }

    .paragraph {
      line-height: 1.25em;
    }
  }
}
