.dots {
  display: flex;
  gap: 0.5rem;

  .dot {
    display: block;
    width: 0.5rem;
    aspect-ratio: 1/1;
    background: rgba(white, 40%);
    border-radius: 999px;

    transition: 0.2s ease-in-out;
    transition-property: background, transform;

    cursor: pointer;

    &:hover {
      background: rgba(white, 60%);
    }

    &.current {
      background: white;

      transform: scale(1.25);

      cursor: default;
    }
  }
}
