.section {
  margin: auto;

  .hero {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    user-select: none;

    @media screen and (max-width: 48rem) {
      gap: 2rem;
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Inter", sans-serif;

      .line {
        display: inline-flex;
        text-align: center;

        &:nth-child(1) {
          background: -webkit-linear-gradient(left, #8443fc, #72cbfc);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .icon {
          font-family: "Material Symbols Outlined";
        }
      }
    }

    .getScore {
      padding: 1rem 1.5rem;
      font-size: 1.25rem;
      color: white;
      font-weight: 500;
      background: rgba(white, 10%);
      border-radius: 999px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: rgba(white, 15%);
        translate: 0 -0.25rem;
      }

      &:active {
        background: rgba(white, 20%);
        scale: 0.95;
      }
    }
  }
}
