.container {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  user-select: none;

  .disconnect {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    inset: 1rem 1rem auto auto;
    border-radius: 999px;
    background: rgba(red, 20%);
    width: 2rem;
    height: 2rem;
    color: red;
    font: 1rem "Material Symbols Outlined";

    &:hover {
      translate: 0 -0.25rem;
      background: rgba(red, 25%);
    }

    &:active {
      scale: 0.975;
      background: rgba(red, 30%);
    }
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .avatar {
      border-radius: 999px;
      aspect-ratio: 1;
      width: 8rem;
      object-fit: cover;
    }

    .address {
      border-radius: 999px;
      background: rgba(white, 10%);
      padding: 0.5rem 1rem;
    }
  }
}

.getScore {
  display: flex;
  position: relative;
  flex: 1;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  background: transparent;
  background: radial-gradient(
      100% 100% at 50% 0%,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(36, 242, 255, 0.7) 24.48%,
      rgba(223, 28, 255, 0.7) 100%
    ),
    linear-gradient(180deg, #b665f5 0%, #0875f5 100%);
  padding: 1rem;
  width: 100%;
  color: white;
  font: inherit;
  font-weight: 500;
  line-height: 1em;

  &:hover {
    translate: 0 -0.25rem;
  }

  &:active {
    scale: 0.975;
  }
}
