.container {
  .header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border-bottom: 1px solid rgba(white, 15%);

    .icon {
      font: 1.5rem "Material Symbols Outlined", sans-serif;
      color: rgba(white, 40%);
    }

    .title {
    }
  }

  .body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .connector {
      padding: 1rem 1.5rem;
      background: rgba(white, 10%);
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: rgba(white, 15%);
        translate: 0 -0.125rem;
      }

      &:active {
        background: rgba(white, 20%);
        scale: 0.975;
      }

      &.loading {
        cursor: wait;
        animation: loading 1s ease-in-out infinite;

        @keyframes loading {
          0% {
            background: rgba(white, 10%);
          }
          66% {
            background: rgba(white, 15%);
          }
          100% {
            background: rgba(white, 10%);
          }
        }

        &:hover {
          background: rgba(white, 10%);
          translate: none;
        }

        &:active {
          background: rgba(white, 10%);
          scale: none;
        }
      }
    }
  }
}
